@charset 'UTF-8';
@use "variable" as v;

html {
  font-size: 62.5%;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: v.$fontNoto;
  color: v.$mainColor;
  position: relative;
}
.inner {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 50px;
}
.sec-ttl {
  font-family: v.$fontUnbounded;
  font-size: 60px;
  text-align: center;
}
