html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #2a3f51;
  position: relative;
}

.inner {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 50px;
}

.sec-ttl {
  font-family: "Unbounded", cursive;
  font-size: 60px;
  text-align: center;
}