@use "../../../base/variable" as v;
.fix-link {
  display: flex;
  width: 50px;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  position: fixed;
  top: 20%;
  right: 0;
  z-index: 5;
  &__btn {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 17px 0 20px;
    background: v.$mainColor;
    &-icon {
      width: 19.3px;
    }
    &-txt {
      margin: 6px 0 0;
      font-weight: 500;
      font-size: 1.5rem;
      letter-spacing: 0.1em;
      color: #fff;
    }
  }
}
