@use "../../../base/variable" as v;
.flow {
  padding: 109px 0 130px;
  min-height: 820px;
  background: url(../../images/webp/flow_bg.webp) no-repeat center/cover;
  position: relative;
  @include v.lg {
    padding: 120px 0 130px;
    margin: -20px 0 0;
    background: url(../../images/webp/flow_bg-sp.webp) no-repeat center/cover;
  }
  &-ttl {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #fff;
    position: relative;
    z-index: 5;
    &-ruby {
      font-weight: 700;
      font-size: 1.4rem;
      color: v.$accentColor;
    }
  }
  &__bg-txt {
    max-width: 507px;
    width: 100%;
    position: absolute;
    top: 122px;
    right: 15px;
    @include v.lg {
      max-width: inherit;
      width: 40%;
    }
    @include v.sm {
      width: 194px;
      top: 70px;
    }
  }
  .circle {
    width: 283.2px;
    position: absolute;
    top: 180px;
    left: 16%;
    @include v.xxl {
      top: 180px;
      left: 8%;
    }
    @include v.lg {
      position: static;
      width: 60%;
    }
    @include v.sm {
      width: 100%;
    }
    &::before {
      content: "";
      display: inline-block;
      border: 2.5px solid v.$accentColor;
      border-radius: 50%;
      position: absolute;
      width: 687px;
      height: 687px;
      background: url(../../images/webp/flow_circle_thumb.webp) no-repeat
        center/cover;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include v.xxl {
        width: 600px;
        height: 600px;
        top: 45%;
        left: 20%;
      }
      @include v.lg {
        display: none;
      }
    }
    &__logo {
      @include v.lg {
        display: none;
      }
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: 34px 0;
      position: absolute;
      top: -18%;
      left: 140%;
      @include v.xxl {
        top: -18%;
        left: 100%;
      }
      @include v.lg {
        gap: 20px 0;
        margin: 40px 0 0;
        position: static;
      }
    }
    &__item {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row-reverse;
      &:first-child {
        gap: 0 20px;
        @include v.lg {
          gap: 0 19px;
        }
        .circle__item {
          &__main {
            width: 343px;
            @include v.lg {
              width: 85%;
            }
          }
          &-icon {
            width: 33px;
            @include v.lg {
              width: 26.83px;
            }
          }
          &-num {
            right: 38px;
            @include v.lg {
              right: 0;
            }
          }
        }
      }
      &:nth-child(2) {
        gap: 0 80px;
        @include v.lg {
          gap: 0 19px;
        }
        .circle__item {
          &__main {
            width: 252px;
            @include v.lg {
              width: 85%;
            }
          }
          &-icon {
            width: 31.57px;
          }
          &-num {
            left: 30px;
            @include v.xxl {
              left: 20px;
            }
            @include v.lg {
              left: 0;
            }
          }
        }
      }
      &:nth-child(3) {
        gap: 0 120px;
        @include v.lg {
          gap: 0 19px;
        }
        .circle__item {
          &__main {
            width: 301px;
            @include v.lg {
              width: 85%;
            }
          }
          &-icon {
            width: 33.94px;
          }
          &-num {
            left: 48px;
            @include v.xxl {
              left: 34px;
            }
            @include v.lg {
              left: 0;
            }
          }
        }
      }
      &:nth-child(4) {
        gap: 0 87px;
        @include v.lg {
          gap: 0 19px;
        }
        .circle__item {
          &__main {
            width: 343px;
            @include v.lg {
              width: 85%;
            }
          }
          &-icon {
            width: 36.5px;
          }
          &-num {
            left: 35px;
            @include v.xxl {
              left: 10px;
            }
            @include v.lg {
              left: 0;
            }
          }
        }
      }
      &:last-child {
        gap: 0 40px;
        @include v.lg {
          gap: 0 19px;
        }
        .circle__item {
          &__main {
            width: 419px;
            @include v.lg {
              width: 85%;
            }
          }
          &-icon {
            width: 29.06px;
          }
          &-num {
            bottom: 10px;
            left: -20px;
            @include v.xxl {
              bottom: 10px;
              left: -60px;
            }
            @include v.lg {
              bottom: 0;
              left: 0;
            }
          }
        }
      }
      &__main {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row-reverse;
        gap: 0 19.6px;
        padding: 15px 32px 15px 32.3px;
        background: #fff;
        border-radius: 5px;
        position: relative;
        @include v.lg {
          justify-content: flex-end;
          gap: 0 15px;
          padding: 15px 0 15px 16.6px;
        }
        &:before {
          content: "";
          position: absolute;
          top: 52%;
          left: -32px;
          margin-top: -15px;
          border: 12px solid transparent;
          border-right: 20px solid #fff;
        }
      }
      &__body {
        color: v.$mainColor;
        @include v.lg {
          line-height: 2;
        }
        &-ttl {
          font-weight: 500;
          font-size: 1.6rem;
        }
        &-desc {
          font-weight: 400;
          font-size: 1.4rem;
          @include v.lg {
            font-size: 1.3rem;
            letter-spacing: -0.06em;
          }
        }
      }
      &-num {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 75px;
        font-family: v.$fontUnbounded;
        font-weight: 500;
        font-size: 3rem;
        color: v.$mainColor;
        background: #fff;
        border-radius: 50%;
        position: relative;
        z-index: 2;
        @include v.lg {
          width: 39px;
          height: 39px;
          font-size: 1.5rem;
        }
      }
    }
  }
}
