@use "../../../base/variable" as v;
.message {
  padding: 0 0 264px;
  &__bg {
  }
  &-ttl {
    color: #fff;
    text-shadow: 0 3px 6px #999;
  }
  &__inner {
    margin: -600px auto 0;
  }
  &__main {
    margin: 48px 0 0;
    text-align: center;
    &__ttl {
      font-weight: 700;
      font-size: 5.6rem;
      letter-spacing: 0.015em;
      color: #fff;
      text-shadow: 0 3px 6px #999;
    }

    &__desc {
      margin: 27px 0 0;
      font-weight: 500;
      font-size: 2rem;
      line-height: 1.5;
      color: #fff;
      text-shadow: 0 3px 6px #999;
      &-strong {
        font-weight: 700;
      }
    }
  }
}
