@use "../../../base/variable" as v;
.message {
  position: relative;
  overflow: hidden;
  &__bg {
    @include v.sm {
      margin: 170px 0 0;
    }
  }
  &-ttl {
    color: #fff;
    text-shadow: 0 3px 6px #ccc;
  }
  &__inner {
    overflow: visible;
  }
  .splide {
    overflow: visible;
    margin: 0 calc(50% - 50vw);
  }
  &__inner {
    width: 100%;
    position: absolute;
    top: 5vw;
    left: 50%;
    transform: translateX(-50%);
    @include v.sm {
      top: 5vw;
    }
  }
  &__main {
    margin: 140px 0 0;
    text-align: center;
    @include v.xxl {
      margin: 60px 0 0;
    }
    @include v.sm {
      margin: 20px 0 0;
    }
    &__ttl {
      margin: 0 auto;
      max-width: 1302px;
      width: 100%;
    }

    &__desc {
      margin: 80px auto 0;
      max-width: 800px;
      width: 100%;
      @include v.xxl {
        margin: 40px auto 0;
        max-width: 60%;
      }
      @include v.sm {
        margin: 20px auto;
        width: 60%;
      }
    }
  }
}
