@use "../../../base/variable" as v;

.news {
  margin: -75px 0 0;
  padding: 75px 0 64.7px;
  &-ttl {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #000;
    &-ruby {
      font-weight: 700;
      font-size: 1.4rem;
      color: v.$accentColor;
    }
  }
  .splide {
    margin: 65px 0 0;
    &__arrow {
      position: inherit;
    }
    &__arrows {
      display: flex;
      justify-content: center;
      margin: 28.3px 0 0;
    }
    .button {
      background-color: transparent; /* ボタンの背景を透明にする */
      height: 50px;
      transition: 0.2s;
      width: 50px;
      &::before {
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 0;
        content: "";
        height: 50px;
        left: 0;
        margin: auto;
        position: absolute;
        top: 0;
        width: 50px;
      }
    }
    /* 前の矢印 */
    .prev::before {
      background-image: url(../../images/webp/slide_arrow-prev.webp);
      bottom: 0;
    }
    /* 次の矢印 */
    .next::before {
      background-image: url(../../images/webp/slide_arrow-next.webp);
    }
    /* 次のスライドが無い場合の矢印 */
    .button:disabled::before {
      opacity: 0.5;
    }
    /* スライドのサイズ調整 */
    .splide__slide img {
      height: auto;
      width: 100%;
    }
    &__track {
      padding-bottom: 20px;
    }
    &__list {
    }
    &__slide {
      display: flex;
      flex-direction: column-reverse;
      box-shadow: 0 3px 6px #e7e7e7;
      &__body {
        display: flex;
        flex-direction: column-reverse;
        padding: 22px 10px;
        &__txt {
          margin: 5px 0 0;
          &-ttl {
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 1.5;
            color: #2e2e2e;
          }
          &-desc {
            margin: 5px 0 0;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 1.5;
            color: #2e2e2e;
          }
        }
      }
      &__head {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row-reverse;
        gap: 0 10px;
        &-label {
          padding: 3px 0 4px;
          width: 113px;
          font-weight: 700;
          font-size: 1.4rem;
          text-align: center;
          background: #d7e5f9;
          color: #62a2ea;
          border-radius: 5px;
        }
        &-date {
          font-weight: 500;
          font-size: 1.4rem;
          color: #878787;
        }
      }
      &__thumb {
        position: relative;
        &:before {
          content: "";
          display: inline-block;
          width: 100%;
          height: 100%;
          background: rgba($color: #000000, $alpha: 0.2);
          position: absolute;
          top: 0;
          left: 0;
        }
        &-caption {
          font-weight: 700;
          font-size: 1.5rem;
          -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
          color: #fff;
          position: absolute;
          top: 23px;
          &01 {
            left: 10px;
          }
          &02 {
            right: 12px;
          }
        }
      }
    }
  }
}
