@use "../../../base/variable" as v;
.reqruit {
  padding: 130px 0 65px;
  &-ttl {
    display: flex;
    flex-direction: column;
    color: #000;
    &-ruby {
      font-weight: 700;
      font-size: 1.4rem;
      color: v.$accentColor;
    }
  }

  &__link {
    display: block;
    margin: 0 auto;
    max-width: 607px;
    width: 100%;
  }
}
