@use "../../../../base/variable" as v;

.business {
  padding: 152px 0 169px;
  background: #fff;
  overflow-x: hidden;
  @include v.sm {
    padding: 152px 0 80px;
  }
  &-ttl {
    position: relative;
    &::after {
      content: url(../../images/webp/business_bg-txt.webp);
      display: inline-block;
      width: 100%;
      position: absolute;
      top: -140px;
      left: 20%;
      transform: translateX(-50%) scale(0.5);
      @include v.sm {
        top: -130px;
        left: 10%;
        transform: translateX(-50%) scale(0.3);
      }
    }
  }
  &-lead {
    margin: 23px 0 0;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #2e2e2e;
  }
  &__main {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100vw;
    margin: 131px calc(50% - 50vw) 0;
    height: 130vh;
    position: relative;
    background: #fff;
    position: relative;
    @include v.xxl {
      height: 140vh;
    }
    @include v.sm {
      margin: 20px calc(50% - 50vw) 0;
      height: 50vh;
    }
    &-bg {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      height: 100vw;
      background: linear-gradient(-180deg, #fff, #e4eff9);
      clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
      position: relative;
    }
  }
  .circle {
    margin: 0 auto -15%;
    max-width: 1366px;
    width: 100%;
    position: relative;
    @include v.xxl {
      margin: 0 auto -18%;
    }
    @include v.sm {
      margin: 0 auto -10%;
    }
    &__center {
      text-align: center;
      position: absolute;
      top: 42%;
      left: 30%;
      transform: rotate(101deg);
      @include v.xxl {
        top: 41%;
        left: 30%;
      }
      @include v.sm {
        width: 80%;
        top: 52%;
        left: 55%;
        transform: translate(-50%, -50%) rotate(101deg);
      }
      &-ttl {
        font-weight: 700;
        font-size: 10rem;
        line-height: 1.3;
        color: v.$mainColor;
        @include v.xxl {
          font-size: 8rem;
        }
        @include v.sm {
          font-size: 2.4rem;
          line-height: 1.27;
        }
      }
      &-desc {
        margin: 18px 0 0;
        font-weight: 400;
        font-size: 4rem;
        @include v.xxl {
          font-size: 3.6rem;
        }
        @include v.sm {
          font-size: 1.1rem;
          line-height: 1.27;
        }
      }
    }
    &__line {
      margin: 0 auto;
      max-width: 1366px;
      height: 1366px;
      background-image: conic-gradient(v.$mainColor 45deg, transparent 45deg);
      clip-path: circle();
      display: grid;
      place-items: center;
      transform: rotate(-101deg);
      @include v.xxl {
        width: 1080px;
        height: 1080px;
      }
      @include v.sm {
        width: 300px;
        height: 300px;
      }
      &:before {
        content: "";
        width: 1364px;
        height: 1364px;
        background: linear-gradient(-90deg, #feffff 20%, #deebf7 80%);
        clip-path: circle();
        @include v.xxl {
          width: 1078px;
          height: 1078px;
        }
        @include v.sm {
          width: 296px;
          height: 296px;
        }
      }
    }
    &__list {
      display: block;
      position: absolute;
      max-width: 1366px;
      width: 100%;
      top: 0;
      left: 44%;
      transform: translateX(-50%);
      z-index: 10;
      @include v.xxl {
        width: 1078px;
        top: -2%;
      }
      @include v.sm {
        width: 273px;
        left: 40%;
      }
    }
    &__item {
      width: 155px;
      height: 155px;
      position: absolute;
      transform: translate(0, -50%);
      z-index: 2;
      @include v.sm {
        width: 50px;
        height: 50px;
      }
    }
  }
  &__foot {
    margin: 85px 0 0;
    padding: 75px 0 0;
    text-align: center;
    background: #fff;
    position: relative;
    z-index: 5;
    @include v.sm {
      margin: 0;
    }
    &-ttl {
      display: inline-block;
      font-weight: 500;
      font-size: 3.2rem;
      color: v.$mainColor;
      position: relative;
      @include v.sm {
        font-size: 1.1rem;
        letter-spacing: -0.02em;
      }
      &::before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 3.5px;
        background: linear-gradient(
          90deg,
          #2a3f51 0%,
          #2a3f51 15%,
          #38b8ef 15%,
          #38b8ef 100%
        );
        position: absolute;
        bottom: -10px;
        left: 0;
      }
    }
    .splide {
      &__arrows {
        @include v.sm {
          position: absolute;
          top: 60%;
          width: 100%;
        }
      }
      .button {
        background-color: transparent; /* ボタンの背景を透明にする */
        height: 50px;
        transition: 0.2s;
        width: 50px;
        @include v.sm {
          width: 25px;
          height: 25px;
        }
        &::before {
          background-repeat: no-repeat;
          background-size: contain;
          bottom: 0;
          content: "";
          height: 50px;
          left: 0;
          margin: auto;
          position: absolute;
          top: 0;
          width: 50px;
          @include v.sm {
            width: 25px;
            height: 25px;
          }
        }
      }
      /* 前の矢印 */
      .prev::before {
        background-image: url(../../images/webp/slide_arrow-prev.webp);
      }
      /* 次の矢印 */
      .next::before {
        background-image: url(../../images/webp/slide_arrow-next.webp);
      }
      /* 次のスライドが無い場合の矢印 */
      .button:disabled::before {
        opacity: 0.5;
      }
      .splide__slide img {
        height: auto;
        width: 100%;
      }
    }
    &-document {
      margin: 65px auto 0;
      max-width: 840px;
      width: 100%;
    }
  }
}
