@use "../../../../base/variable" as v;

.company {
  margin: 75px 0 0;
  margin-top: -75px; /* 固定ナビの高さ分のネガティブマージン */
  padding-top: 150px; /* 打ち消し用のパディング */
  &-ttl {
    position: relative;
    &::after {
      content: url(../../images/webp/company_bg-txt.webp);
      display: inline-block;
      width: 100%;
      position: absolute;
      top: -140px;
      left: 20%;
      transform: translateX(-50%) scale(0.5);
      @include v.sm {
        top: -130px;
        left: 10%;
        transform: translateX(-50%) scale(0.3);
      }
    }
  }
  &-lead {
    margin: 23px 0 0;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #2e2e2e;
    @include v.sm {
      font-size: 1.1rem;
    }
  }
  .history {
    margin: 50px 0 0;
    padding: 100px 17px 64.8px 0;
    background: #e9e9e9;
    @include v.sm {
      padding: 40px 14px;
    }
    &__ttl {
      margin: 0 0 0 60px;
      font-weight: 700;
      font-size: 4rem;
      line-height: 2;
      color: #000;
      @include v.sm {
        margin: 0;
        font-size: 2rem;
      }
      &-accent {
        display: inline-block;
        margin-top: -20px;
        vertical-align: top;
        color: v.$accentColor;
      }
      &-strong {
        padding: 0 5px;
        font-weight: 900;
        font-size: 6.6rem;
        line-height: 1.21;
        color: v.$accentColor;
        @include v.sm {
          font-size: 3.8rem;
        }
      }
    }
    &__arrow {
      margin: 262px 0 0;
      position: relative;
      &.pc {
        display: block;
        @include v.sm {
          display: none;
        }
        .history {
          &__list {
            display: flex;
            flex-direction: column;
            gap: 26.7px 0;
            position: absolute;
            z-index: 2;
            &01 {
              bottom: -3.5%;
              left: 0.5%;
              @include v.xxl {
                bottom: -3.5%;
                left: 0.5%;
              }
            }
            &02 {
              bottom: 0;
              left: 5%;
            }
            &03 {
              bottom: 2%;
              left: 14%;
            }
            &04 {
              left: 31%;
              bottom: 45%;
            }
            &05 {
              top: 12%;
              right: 2%;
            }
            &06 {
              right: 8%;
              bottom: 64%;
            }
            &07 {
              top: -4.5%;
              right: -0.5%;
            }
          }
          &__item {
            display: flex;
            flex-direction: column-reverse;
            border-radius: 5px;
            &01 {
              width: 306.2px;
              @include v.xxl {
                width: 22vw;
              }
            }
            &02 {
              width: 263.6px;
              @include v.xxl {
                width: 19vw;
              }
            }
            &03 {
              width: 263.6px;
              @include v.xxl {
                width: 19vw;
              }
            }
            &04 {
              width: 714px;
              @include v.xxl {
                width: 30vw;
              }
            }
            &05 {
              width: 263.6px;
              @include v.xxl {
                width: 18.8vw;
              }
            }
            &06 {
              width: 911px;
              @include v.xxl {
                width: 22vw;
              }
            }
            &07 {
              width: 299.97px;
              @include v.xxl {
                width: 20vw;
              }
            }
            &08 {
              margin: 0 0 0 auto;
              width: 389px;
              @include v.xxl {
                width: 17.5vw;
              }
            }
            &09 {
              width: 263.6px;
              @include v.xxl {
                width: 17.4vw;
              }
            }
            &10 {
              width: 616px;
              @include v.xxl {
                width: 19vw;
              }
            }
            &11 {
              width: 247px;
              @include v.xxl {
                width: 14.5vw;
              }
            }
            &12 {
              width: 66px;
              @include v.xxl {
                width: 14vw;
              }
            }
          }
        }
      }
      &.sp {
        display: none;
        @include v.sm {
          display: flex;
          justify-content: space-between;
          margin: 66px 0 0;
          width: 100%;
        }
        .history {
          &__arrow-figure {
          }
          &__lists {
            display: flex;
            flex-direction: column;
            gap: 36px 0;
          }
          &__list {
            display: flex;
            flex-direction: column;
            &01 {
              margin: -40px 0 0;
            }
            &02 {
              gap: 15px 0;
            }
            &03 {
            }
            &07 {
              width: 185px;
              position: absolute;
              bottom: -30px;
              left: -2.5%;
            }
          }
          &__item {
            position: relative;
            z-index: 1;
            &01 {
            }
            &03 {
            }
            &04 {
            }
            &06 {
            }
            &11 {
              width: 228px;
              margin: 0 0 0 auto;
            }
          }
          &__point {
            position: absolute;
            transform: translateX(-50%);
            z-index: -1;
            &01,
            &02,
            &03,
            &04,
            &05 {
              width: 57px;
              top: 8px;
              left: -9%;
              z-index: -1;
            }
            &06 {
              width: 45%;
              top: 8px;
              left: -20%;
              z-index: -1;
            }
            // &-goal {
            //   width: 185px;
            //   position: absolute;
            //   bottom: -30px;
            //   left: -2.5%;
            // }
          }
        }
      }
    }
  }
}
