@use "../../../../base/variable" as v;

.culture {
  padding: 161px 0 87px;
  background: rgba($color: #38b8ef, $alpha: 0.11);
  &-ttl {
    position: relative;
    &::after {
      content: url(../../images/webp/culture_bg-txt.webp);
      display: inline-block;
      width: 100%;
      position: absolute;
      top: -160px;
      left: 20%;
      transform: translateX(-50%) scale(0.5);
      @include v.sm {
        top: -170px;
        left: 15%;
        transform: translateX(-50%) scale(0.3);
      }
    }
  }
  &__head {
    margin: 68px 0 0;
    text-align: center;
    &-ttl {
      font-weight: 700;
      font-size: 3.2rem;
      color: #2e2e2e;
      @include v.sm {
        font-size: 2.6rem;
      }
    }
    &-lead {
      margin: 29px 0 0;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2;
      color: #2e2e2e;
      @include v.sm {
        margin: 15px 0 0;
        font-size: 1.1rem;
      }
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 0 70px;
    margin: 21px 0 0;
    @media (max-width: 1134px) {
      gap: 0 40px;
    }
    @include v.sm {
      margin: 30px 0 0;
    }
  }
  &__item {
    margin: 25px 0 0;
    padding: 18px 0 0;
    border-top: 1px solid #2a3f51;
    &:first-child {
      @include v.sm {
        margin: 0;
      }
    }
    &__head {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row-reverse;
      gap: 0 13.5px;
      &-ttl {
        font-weight: 700;
        font-size: 2.3rem;
        @include v.sm {
          font-size: 2rem;
        }
      }
      &-num {
        margin: 0 0 0 7px;
        font-weight: 700;
        font-size: 1.8rem;
        color: #fff;
        border-radius: 50%;
        position: relative;
        z-index: 2;
        @include v.sm {
          font-size: 1.5rem;
        }
        &:before {
          content: "";
          display: inline-block;
          width: 35px;
          height: 35px;
          background: v.$mainColor;
          position: absolute;
          top: 52%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          z-index: -1;
          @include v.sm {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
    &-desc {
      margin: 18px 0 0;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 1.78;
      color: #2e2e2e;
      @include v.sm {
        font-size: 1.1rem;
      }
    }
  }
}
