@charset "UTF-8";
.header {
  padding: 12.4px 0;
  width: 100%;
  background: #e4eff9;
  position: fixed;
  top: 0;
  z-index: 10;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.header__logo {
  width: 159px;
}
.header .g-nav {
  margin: 0 30px 0 auto;
}
@media not screen and (min-width: 768px) {
  .header .g-nav {
    display: none;
  }
}
.header .g-nav__list {
  display: flex;
  justify-content: flex-end;
  gap: 0 30px;
}
.header .g-nav__item {
  font-weight: 500;
  font-size: 1.6rem;
  opacity: 1;
  transition: opacity 0.5s;
}
.header .g-nav__item:hover, .header .g-nav__item:focus {
  opacity: 0.7;
  transition: opacity 0.5s;
}
.header__btn {
  padding: 8px 0;
  width: 160px;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
  background: linear-gradient(45deg, #a4d8ef, #38b8ef);
  color: #fff;
  border-radius: 50px;
}
@media not screen and (min-width: 768px) {
  .header__btn {
    display: none;
  }
}
.header .toggle-btn {
  display: none;
}
@media not screen and (min-width: 768px) {
  .header .toggle-btn {
    display: block;
    width: 27.21px;
    height: 22.35px;
    position: relative;
    z-index: 10;
  }
}
.header .toggle-btn span {
  display: inline-block;
  width: 100%;
  height: 2px;
  background: #38b8ef;
  position: absolute;
}
.header .toggle-btn span:nth-child(1) {
  top: 0;
  left: 0;
  transition: ease-in 0.5s;
}
.header .toggle-btn span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  transition: opacity 0.5s;
}
.header .toggle-btn span:nth-child(3) {
  bottom: 0;
  left: 0;
  transition: ease-in 0.5s;
}
.header .toggle-btn.is-active span:nth-child(1) {
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(45deg);
  transition: ease-in 0.5s;
}
.header .toggle-btn.is-active span:nth-child(2) {
  opacity: 0;
  transition: opacity 0.5s;
}
.header .toggle-btn.is-active span:nth-child(3) {
  bottom: 50%;
  left: 0;
  transform: translateY(-50%) rotate(-45deg);
  transition: ease-in 0.5s;
}
.header .slide-menu {
  display: none;
}
@media not screen and (min-width: 768px) {
  .header .slide-menu {
    display: block;
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100vw;
    background: #000;
    transition: 0.5s;
  }
}
.header .slide-menu.is-show {
  right: 0;
  transition: 0.5s;
}
.mv {
  padding: 75px 0 0;
  height: calc(100vh - 30px);
  background: url(../../images/webp/mv01.webp) no-repeat center/cover;
  animation: mvFade 12s infinite;
}
@keyframes mvFade {
  0% {
    background-image: url(../../images/webp/mv01.webp);
  }
  33% {
    background-image: url(../../images/webp/mv02.webp);
  }
  66% {
    background-image: url(../../images/webp/mv03.webp);
  }
  100% {
    background-image: url(../../images/webp/mv01.webp);
  }
}
.mv__inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 0 25px 50px;
  height: 100%;
}
.mv .hero {
  margin: 65px 0 0;
}
.mv .hero__ttl {
  font-weight: 700;
  font-family: "Kailasa";
  font-size: 9.5rem;
  line-height: 1.05;
  letter-spacing: 0.01em;
  color: #fff;
  text-shadow: 0 3px 6px #888;
}
.mv .hero__lead {
  display: inline-block;
  font-family: toppan-bunkyu-midashi-go-std, sans-serif;
  margin: 20px 0 0;
  font-weight: 700;
  font-size: 3rem;
  color: #fff;
  text-shadow: 0 3px 4px #888;
  position: relative;
}
.mv .hero__lead::before {
  content: "";
  display: inline-block;
  width: 85px;
  height: 2px;
  background: #000;
  position: absolute;
  top: 55%;
  right: -90px;
  transform: translateY(-50%);
}
.mv__foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}
.mv__foot-label {
  display: block;
  max-width: 495px;
  width: 100%;
  padding: 7px 0;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  background: linear-gradient(45deg, #a4d8ef, #38b8ef);
  color: #fff;
  border-radius: 50px;
}

.fix-link {
  display: flex;
  width: 50px;
  writing-mode: vertical-rl;
  position: fixed;
  top: 20%;
  right: 0;
  z-index: 5;
}
.fix-link__btn {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 17px 0 20px;
  background: #2a3f51;
}
.fix-link__btn-icon {
  width: 19.3px;
}
.fix-link__btn-txt {
  margin: 6px 0 0;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  color: #fff;
}

.message {
  padding: 0 0 226px;
}
.message-ttl {
  color: #fff;
  text-shadow: 0 3px 6px #ccc;
}
.message__inner {
  margin: -600px auto 0;
}
.message__main {
  margin: 48px 0 0;
  text-align: center;
}
.message__main__ttl {
  margin: 0 auto;
  max-width: 1064px;
  width: 100%;
  color: #fff;
}
.message__main__desc {
  margin: 27px auto 0;
  max-width: 877.92px;
  width: 100%;
}
.message__main__desc-strong {
  font-weight: 700;
}

.company {
  margin: 75px 0 0;
}
.company-lead {
  margin: 23px 0 0;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #2e2e2e;
}
.company .history {
  margin: 50px 0 0;
  padding: 100px 17px 64.8px 0;
  background: #e9e9e9;
}
.company .history__ttl {
  margin: 0 0 0 60px;
  font-weight: 700;
  font-size: 4rem;
  line-height: 2;
  color: #000;
}
.company .history__ttl-accent {
  color: #38b8ef;
}
.company .history__ttl-strong {
  padding: 0 5px;
  font-weight: 900;
  font-size: 6.6rem;
  line-height: 1.21;
}
.company .history__arrow {
  position: relative;
}
.company .history__point {
  position: absolute;
  z-index: -1;
}
.company .history__point-goal {
  position: absolute;
  width: 177px;
  top: -60px;
  right: -2px;
}
.company .history__list {
  display: flex;
  flex-direction: column;
  gap: 26.7px 0;
  position: absolute;
  z-index: 2;
}
.company .history__list01 {
  width: 194px;
  bottom: -16.5px;
  left: 8px;
}
.company .history__list01 .history__point {
  width: 160px;
  top: 40px;
  right: -100px;
}
.company .history__list02 {
  width: 263.6px;
  bottom: 109px;
  left: 17px;
}
.company .history__list02 .history__point {
  width: 217.5px;
  bottom: 0;
  right: -200px;
}
.company .history__list03 {
  width: 263.6px;
  bottom: 254px;
  left: 296.5px;
}
.company .history__list03 .history__point {
  width: 66px;
  bottom: 0;
  right: -65px;
}
.company .history__list04 {
  width: 263.6px;
  bottom: 0;
  right: 135px;
}
.company .history__list04 .history__point {
  width: 50px;
  top: -190px;
  left: -30px;
}
.company .history__list05 {
  width: 263.6px;
  bottom: 545.2px;
  right: 300.4px;
}
.company .history__list05 .history__point {
  width: 71px;
  bottom: -60px;
  right: -40px;
}
.company .history__list06 {
  width: 194.6px;
  right: 0;
  bottom: 374px;
}
.company .history__list06 .history__point {
  width: 130px;
  top: -90px;
  left: -16px;
}
.company .history__item {
  display: flex;
  flex-direction: column-reverse;
  background: #fff;
  border-radius: 5px;
}
.company .history__item01 {
  padding: 23px 25px 11px;
}
.company .history__item02 {
  padding: 13.2px 18.3px;
}
.company .history__item02 .history__item-icon {
  width: 99px;
}
.company .history__item03 {
  padding: 13.2px 18.3px;
}
.company .history__item03 .history__item-icon {
  width: 94.95px;
}
.company .history__item04 {
  padding: 13.2px 4px 13.2px 18.3px;
}
.company .history__item04 .history__item-icon {
  width: 94.95px;
}
.company .history__item05 {
  padding: 13.2px 4px 13.2px 18.3px;
}
.company .history__item05 .history__item-icon {
  width: 94.95px;
}
.company .history__item06 {
  padding: 13.2px 4px 13.2px 18.3px;
}
.company .history__item06 .history__item-icon {
  width: 94.83px;
}
.company .history__item07 {
  padding: 13.2px 4px 13.2px 18.3px;
}
.company .history__item07 .history__item-icon {
  width: 94.65px;
}
.company .history__item08 {
  padding: 13.2px 4px 13.2px 18.3px;
}
.company .history__item08 .history__item-icon {
  width: 94.65px;
}
.company .history__item09 {
  padding: 13.2px 4px 13.2px 18.3px;
}
.company .history__item09 .history__item-icon {
  width: 94.65px;
}
.company .history__item10 {
  padding: 13.2px 4px 13.2px 18.3px;
}
.company .history__item10 .history__item-icon {
  width: 94.65px;
}
.company .history__item11 {
  padding: 13.2px 4px 13.2px 18.3px;
}
.company .history__item11 .history__item-icon {
  display: flex;
}
.company .history__item11 .history__item-icon img:first-child {
  width: 34px;
}
.company .history__item11 .history__item-icon img:last-child {
  width: 36px;
}
.company .history__item-txt {
  margin: 7px 0 0;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.78;
  color: #2a3f51;
}
.company .history__item-desc {
  font-weight: 400;
  font-size: 1.3rem;
}
.company .history__item-label {
  display: inline-block;
  padding: 2px 0;
  width: 77px;
  font-weight: 500;
  font-size: 1.2rem;
  background: #38b8ef;
  text-align: center;
  color: #fff;
  border-radius: 50px;
  position: absolute;
  top: -10px;
}

.future {
  margin: 176px 0 0;
  padding: 0 0 203px;
}
.future-ttl {
  display: inline-block;
  position: relative;
}
.future-ttl::after {
  content: url(../../images/webp/future_bg-txt.webp);
  display: inline-block;
  transform: scale(0.4);
  position: absolute;
  top: -130px;
  left: -90%;
}
.future-lead {
  margin: 23px 0 0;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #2e2e2e;
}
.future__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 7.7%;
  margin: 50px auto 0;
  padding: 0 34px;
  max-width: 906px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
}
.future__item {
  padding: 23px 0 20px;
}
.future__item__head {
  display: flex;
  flex-direction: column-reverse;
  font-weight: 500;
  text-align: center;
  color: #166594;
}
.future__item__head-ttl {
  margin: 12.4px 0 0;
  font-size: 1.6rem;
}
.future__item__head-label {
  font-size: 1.4rem;
}
.future__item__head-icon {
  display: block;
  margin: 17.4px auto 0;
}
.future__item:first-child .future__item__head-icon {
  margin: 17.4px auto 0;
  width: 35.33px;
}
.future__item:nth-child(2) .future__item__head-icon {
  width: 49.32px;
}
.future__item:last-child .future__item__head-icon {
  width: 30px;
}
.future__item-desc {
  margin: 8px 0 0;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.42;
  color: #2e2e2e;
}

.business {
  padding: 152px 0 169px;
  background: #fff;
  overflow-x: hidden;
}
.business-ttl {
  position: relative;
}
.business-ttl::after {
  content: url(../../images/webp/business_bg-txt.webp);
  display: inline-block;
  transform: scale(0.4);
  position: absolute;
  top: -135px;
  left: -40%;
}
.business-lead {
  margin: 23px 0 0;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #2e2e2e;
}
.business__main {
  padding: 0 0 240px 0;
  width: 100vw;
  margin: 131px calc(50% - 50vw) 0;
  position: relative;
}
.business__main::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url(../../images/webp/about_business-bg.webp) no-repeat center/cover;
  position: absolute;
  top: 0;
  left: 0;
}
.business .circle {
  margin: 0 auto;
  max-width: 835px;
  width: 100%;
  position: relative;
}
.business .circle__center {
  text-align: center;
  position: absolute;
}
.business .circle__center:before {
  content: "";
  display: inline-block;
  width: 243px;
  height: 328.2px;
  background: url(../../images/webp/circle-center_logo.webp) no-repeat center/cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.business .circle__center-ttl {
  font-weight: 700;
  font-size: 4.6rem;
  line-height: 1.3;
  color: #2a3f51;
}
.business .circle__center-desc {
  margin: 18px 0 0;
  font-weight: 400;
  font-size: 2.4rem;
}
.business .circle__line {
  margin: 0 auto;
  max-width: 687px;
  height: 687px;
  background-image: conic-gradient(#2a3f51 45deg, transparent 45deg);
  -webkit-clip-path: circle();
          clip-path: circle();
  display: grid;
  place-items: center;
}
.business .circle__line:before {
  content: "";
  width: 685px;
  height: 685px;
  background: linear-gradient(#feffff, #e9f2fa);
  -webkit-clip-path: circle();
          clip-path: circle();
}
.business .circle__list {
  width: 100%;
  position: absolute;
  top: 0;
  left: 60%;
  transform: translateX(-50%);
}
.business .circle__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  width: 155px;
  height: 155px;
  background: #e3f2fd;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.business .circle__item:first-child .circle__item-icon {
  margin-bottom: 13.9px;
  width: 51.55px;
}
.business .circle__item:nth-child(2) .circle__item-icon {
  margin-bottom: 11.3px;
  width: 50.85px;
}
.business .circle__item:nth-child(3) .circle__item-icon {
  margin-bottom: 16.2px;
  width: 52.73px;
}
.business .circle__item:nth-child(4) .circle__item-icon {
  margin-bottom: 14px;
  width: 47.18px;
}
.business .circle__item:nth-child(5) .circle__item-icon {
  margin-bottom: 16.5px;
  width: 50.45px;
}
.business .circle__item:nth-child(6) .circle__item-icon {
  margin-bottom: 8px;
  width: 44.19px;
}
.business .circle__item:nth-child(7) .circle__item-icon {
  margin-bottom: 12.8px;
  width: 46.45px;
}
.business .circle__item:nth-child(8) .circle__item-icon {
  margin-bottom: 17.5px;
  width: 45.71px;
}
.business .circle__item:nth-child(9) .circle__item-icon {
  margin-bottom: 22.5px;
  width: 62px;
}
.business .circle__item:nth-child(10) .circle__item-icon {
  margin-bottom: 18.5px;
  width: 46.1px;
}
.business .circle__item:nth-child(11) .circle__item-icon {
  margin-bottom: 10.5px;
  width: 37.08px;
}
.business .circle__item-txt {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.33;
  text-align: center;
}
.business__foot {
  margin: 353px 0 0;
  text-align: center;
}
.business__foot-ttl {
  display: inline-block;
  font-weight: 500;
  font-size: 3.2rem;
  color: #2a3f51;
  position: relative;
}
.business__foot-ttl::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 3.5px;
  background: linear-gradient(90deg, #2a3f51 0%, #2a3f51 15%, #38b8ef 15%, #38b8ef 100%);
  position: absolute;
  bottom: -10px;
  left: 0;
}
.business__foot-document {
  margin: 65px auto 0;
  max-width: 840px;
  width: 100%;
}
.business__foot-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 0 21.1px;
  margin: 37px auto 0;
  padding: 13px 0;
  width: 256px;
  font-weight: 700;
  font-size: 1.6rem;
  border: 1px solid #2a3f51;
  border-radius: 50px;
  box-shadow: 3px 3px 10px #ccc;
}
.business__foot-icon {
  width: 16px;
}

.culture {
  padding: 161px 0 87px;
  background: rgba(56, 184, 239, 0.11);
}
.culture-ttl {
  position: relative;
}
.culture-ttl::after {
  content: url(../../images/webp/culture_bg-txt.webp);
  display: inline-block;
  transform: scale(0.4);
  position: absolute;
  top: -165px;
  left: -30%;
}
.culture__head {
  margin: 68px 0 0;
  text-align: center;
}
.culture__head-ttl {
  font-weight: 700;
  font-size: 3.2rem;
  color: #2e2e2e;
}
.culture__head-lead {
  margin: 29px 0 0;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2;
  color: #2e2e2e;
}
.culture__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 21px 0 0;
}
.culture__item {
  margin: 25px 0 0;
  padding: 18px 0 0;
  width: 30.4933333333%;
  border-top: 1px solid #2a3f51;
}
.culture__item__head {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row-reverse;
  gap: 0 13.5px;
}
.culture__item__head-ttl {
  font-weight: 700;
  font-size: 2.3rem;
}
.culture__item__head-num {
  margin: 0 0 0 7px;
  font-weight: 700;
  font-size: 1.8rem;
  color: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}
.culture__item__head-num:before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  background: #2a3f51;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
}
.culture__item-desc {
  margin: 18px 0 0;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.78;
  color: #2e2e2e;
}

.interview {
  padding: 136px 0 130px;
  background: #fff;
  overflow: hidden;
}
.interview-ttl {
  position: relative;
}
.interview-ttl::after {
  content: url(../../images/webp/interview_bg-txt.webp);
  display: inline-block;
  transform: scale(0.5);
  position: absolute;
  top: -165px;
  left: -24%;
  z-index: 2;
}
.interview__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 5px 0 0;
}
.interview__head-ttl {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 -26px 0 0;
  width: 172px;
  font-family: "Unbounded", cursive;
  font-weight: 700;
  font-size: 3rem;
  color: #2e2e2e;
  position: relative;
}
.interview__head-ruby {
  display: flex;
  align-items: center;
  gap: 0 8px;
  font-weight: 500;
  font-size: 1.4rem;
  color: #2e2e2e;
}
.interview__head-ruby::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #38b8ef;
  border-radius: 50%;
}
.interview__head__thumb {
  width: 100vw;
  margin-right: calc(50% - 50vw);
}
.interview .splide {
  margin: 65px 0 0;
  /* 前の矢印 */
  /* 次の矢印 */
  /* 次のスライドが無い場合の矢印 */
  /* スライドのサイズ調整 */
}
.interview .splide__arrow {
  position: static;
}
.interview .splide__arrows {
  display: flex;
  justify-content: flex-start;
  margin: 28.3px 0 0;
}
.interview .splide__arrows:before {
  content: "";
  display: inline-block;
  margin: 0 55.5px 0 0;
  width: 60%;
  height: 1px;
  background: linear-gradient(90deg, #38b8ef 0, #38b8ef 20%, #bebebe 20%, #bebebe 100%);
}
.interview .splide .button {
  background-color: transparent;
  height: 55px;
  transition: 0.2s;
  width: 55px;
}
.interview .splide .button::before {
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  content: "";
  height: 50px;
  left: 0;
  margin: auto;
  position: static;
  top: 0;
  width: 50px;
}
.interview .splide .prev::before {
  background-image: url(../../images/webp/slide_arrow-prev.webp);
  bottom: 0;
}
.interview .splide .next::before {
  background-image: url(../../images/webp/slide_arrow-next.webp);
}
.interview .splide .button:disabled::before {
  opacity: 0.5;
}
.interview .splide .splide__slide img {
  height: auto;
  width: 100%;
}
.interview .splide__track {
  padding-bottom: 20px;
}
.interview .splide__slide {
  box-shadow: 0 3px 6px #e7e7e7;
}
.interview .splide__slide-link {
  display: flex;
  flex-direction: column-reverse;
}
.interview .splide__slide__body {
  display: flex;
  flex-direction: column-reverse;
  padding: 22px 10px;
}
.interview .splide__slide__body__txt {
  margin: 5px 0 0;
}
.interview .splide__slide__body__txt-ttl {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #2e2e2e;
}
.interview .splide__slide__body__txt-desc {
  margin: 5px 0 0;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.71;
  color: #2e2e2e;
}
.interview .splide__slide__head {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.interview .splide__slide__head-label {
  font-weight: 500;
  font-size: 1.6rem;
  color: #38b8ef;
}
.interview .splide__slide__head-date {
  font-weight: 500;
  font-size: 1.4rem;
  color: #878787;
}
.interview .splide__slide__thumb {
  width: 100%;
  position: relative;
}
.interview .splide__slide__thumb:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
}
.interview .splide__slide__thumb-caption {
  font-weight: 700;
  font-size: 1.5rem;
  writing-mode: vertical-rl;
  color: #fff;
  position: absolute;
  top: 23px;
}
.interview .splide__slide__thumb-caption01 {
  left: 10px;
}
.interview .splide__slide__thumb-caption02 {
  right: 12px;
}
.interview .btn {
  display: flex;
  justify-content: flex-end;
  margin: -10px 18.3px 0 auto;
  position: relative;
}
.interview .btn-txt {
  width: 89.15px;
}
.interview .btn::after {
  content: url(../../images/webp/view-more_arrow.webp);
  width: 100%;
  position: absolute;
  top: 10px;
  right: -120px;
  transform: translate(-50%, -50%) scale(0.5);
  transition: 0.5s ease-in;
}
.interview .btn:hover:after {
  transform: translate(-50%, -50%) scale(0.6);
  transition: 0.5s ease-in;
}

.about {
  padding: 65px 0 0;
  background: #f2f2f2;
}
.about-ttl {
  display: flex;
  flex-direction: column;
  color: #000;
}
.about-ttl-ruby {
  font-weight: 700;
  font-size: 1.4rem;
  color: #38b8ef;
}
.about__sec-ttl {
  font-weight: 700;
  font-size: 3.2rem;
  color: #000;
  position: relative;
}
.about__sec-ttl::before {
  content: "";
  display: inline-block;
  width: 49px;
  height: 3.5px;
  background: #38b8ef;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.flow {
  padding: 77px 0 130px;
  min-height: 820px;
  background: url(../../images/webp/flow_bg.webp) no-repeat center/cover;
  position: relative;
}
.flow-ttl {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #000;
}
.flow-ttl-ruby {
  font-weight: 700;
  font-size: 1.4rem;
  color: #38b8ef;
}
.flow__bg-txt {
  max-width: 507px;
  width: 100%;
  position: absolute;
  top: 122px;
  right: 15px;
}
.flow .circle {
  width: 283.2px;
  position: absolute;
  top: 180px;
  left: 50px;
}
.flow .circle::before {
  content: "";
  display: inline-block;
  width: 687px;
  height: 687px;
  border: 2.5px solid #38b8ef;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.flow .circle__list {
  display: flex;
  flex-direction: column;
  gap: 34px 0;
  position: absolute;
  top: 0;
  left: 150%;
}
.flow .circle__item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row-reverse;
}
.flow .circle__item:first-child {
  gap: 0 69px;
}
.flow .circle__item:first-child .circle__item__main {
  width: 343px;
}
.flow .circle__item:first-child .circle__item-icon {
  width: 33px;
}
.flow .circle__item:nth-child(2) {
  gap: 0 93px;
}
.flow .circle__item:nth-child(2) .circle__item__main {
  width: 252px;
}
.flow .circle__item:nth-child(2) .circle__item-icon {
  width: 31.57px;
}
.flow .circle__item:nth-child(2) .circle__item-num {
  left: 24px;
}
.flow .circle__item:nth-child(3) {
  gap: 0 140px;
}
.flow .circle__item:nth-child(3) .circle__item__main {
  width: 301px;
}
.flow .circle__item:nth-child(3) .circle__item-icon {
  width: 33.94px;
}
.flow .circle__item:nth-child(3) .circle__item-num {
  left: 30px;
}
.flow .circle__item:nth-child(4) {
  gap: 0 87px;
}
.flow .circle__item:nth-child(4) .circle__item__main {
  width: 343px;
}
.flow .circle__item:nth-child(4) .circle__item-icon {
  width: 36.5px;
}
.flow .circle__item:last-child {
  gap: 0 60px;
}
.flow .circle__item:last-child .circle__item__main {
  width: 419px;
}
.flow .circle__item:last-child .circle__item-icon {
  width: 29.06px;
}
.flow .circle__item:last-child .circle__item-num {
  bottom: 10px;
  left: -50px;
}
.flow .circle__item__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 0 19.6px;
  padding: 15px 32px 15px 32.3px;
  background: #fff;
  border-radius: 5px;
  position: relative;
}
.flow .circle__item__main:before {
  content: "";
  position: absolute;
  top: 52%;
  left: -32px;
  margin-top: -15px;
  border: 12px solid transparent;
  border-right: 20px solid #fff;
}
.flow .circle__item__body {
  color: #2a3f51;
}
.flow .circle__item__body-ttl {
  font-weight: 500;
  font-size: 1.6rem;
}
.flow .circle__item__body-desc {
  font-weight: 400;
  font-size: 1.4rem;
}
.flow .circle__item-num {
  font-family: "Unbounded", cursive;
  font-weight: 500;
  font-size: 3rem;
  color: #2a3f51;
  position: relative;
  z-index: 2;
}
.flow .circle__item-num::before {
  content: "";
  display: inline-block;
  width: 75px;
  height: 75px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.reqruit {
  padding: 130px 0 65px;
}
.reqruit-ttl {
  display: flex;
  flex-direction: column;
  color: #000;
}
.reqruit-ttl-ruby {
  font-weight: 700;
  font-size: 1.4rem;
  color: #38b8ef;
}
.reqruit__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 0 42.3px;
  margin: 75px auto 0;
  padding: 43px 0;
  max-width: 552px;
  width: 100%;
  background: #38b8ef;
}
.reqruit__link-txt {
  font-weight: 700;
  font-size: 1.8rem;
  color: #fff;
}

.news {
  padding: 0 0 64.7px;
}
.news-ttl {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #000;
}
.news-ttl-ruby {
  font-weight: 700;
  font-size: 1.4rem;
  color: #38b8ef;
}
.news .splide {
  margin: 65px 0 0;
  /* 前の矢印 */
  /* 次の矢印 */
  /* 次のスライドが無い場合の矢印 */
  /* スライドのサイズ調整 */
}
.news .splide__arrow {
  position: inherit;
}
.news .splide__arrows {
  display: flex;
  justify-content: center;
  margin: 28.3px 0 0;
}
.news .splide .button {
  background-color: transparent; /* ボタンの背景を透明にする */
  height: 50px;
  transition: 0.2s;
  width: 50px;
}
.news .splide .button::before {
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  content: "";
  height: 50px;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  width: 50px;
}
.news .splide .prev::before {
  background-image: url(../../images/webp/slide_arrow-prev.webp);
  bottom: 0;
}
.news .splide .next::before {
  background-image: url(../../images/webp/slide_arrow-next.webp);
}
.news .splide .button:disabled::before {
  opacity: 0.5;
}
.news .splide .splide__slide img {
  height: auto;
  width: 100%;
}
.news .splide__track {
  padding-bottom: 20px;
}
.news .splide__slide {
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 0 3px 6px #e7e7e7;
}
.news .splide__slide__body {
  display: flex;
  flex-direction: column-reverse;
  padding: 22px 10px;
}
.news .splide__slide__body__txt {
  margin: 5px 0 0;
}
.news .splide__slide__body__txt-ttl {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #2e2e2e;
}
.news .splide__slide__body__txt-desc {
  margin: 5px 0 0;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #2e2e2e;
}
.news .splide__slide__head {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row-reverse;
  gap: 0 10px;
}
.news .splide__slide__head-label {
  padding: 3px 0 4px;
  width: 113px;
  font-weight: 700;
  font-size: 1.4rem;
  text-align: center;
  background: #d7e5f9;
  color: #62a2ea;
  border-radius: 5px;
}
.news .splide__slide__head-date {
  font-weight: 500;
  font-size: 1.4rem;
  color: #878787;
}
.news .splide__slide__thumb {
  position: relative;
}
.news .splide__slide__thumb:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
}
.news .splide__slide__thumb-caption {
  font-weight: 700;
  font-size: 1.5rem;
  writing-mode: vertical-rl;
  color: #fff;
  position: absolute;
  top: 23px;
}
.news .splide__slide__thumb-caption01 {
  left: 10px;
}
.news .splide__slide__thumb-caption02 {
  right: 12px;
}

.contact {
  padding: 65px 0;
  background: #f2f2f2;
}
.contact-ttl {
  display: flex;
  flex-direction: column;
  color: #000;
}
.contact-ttl-ruby {
  font-weight: 700;
  font-size: 1.4rem;
  color: #38b8ef;
}
.contact__body {
  margin: 75px auto 0;
  max-width: 540px;
  width: 100%;
  text-align: center;
}
.contact__body-desc {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2;
}
.contact__body-detail {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2;
}

.footer {
  padding: 65px 0 21px;
}
.footer__inner {
  display: flex;
}
.footer_logo {
  width: 159.04px;
}
.footer .f-nav__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 auto;
  width: 50%;
}
.footer .f-nav__item {
  display: flex;
  align-items: center;
  gap: 0 4.5px;
  width: 50%;
  font-weight: 500;
  font-size: 1.6rem;
  color: #222222;
}
.footer .f-nav__item:not(:first-child, :nth-child(2)) {
  margin: 16px 0 0;
}
.footer .f-nav__item:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 1.5px;
  background: #38b8ef;
}
.footer__copy {
  margin: 74.9px 0 0;
  font-weight: 100;
  font-size: 1.2rem;
  text-align: center;
}