.header {
  padding: 12px 0 8px;
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 10;
}
@media not screen and (min-width: 576px) {
  .header {
    padding: 9px 0 6px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
@media (max-width: 1170px) {
  .header__inner {
    padding: 0 40px;
  }
}
@media not screen and (min-width: 576px) {
  .header__inner {
    padding: 0 5.3%;
  }
}
.header__logo {
  width: 159px;
}
.header .g-nav {
  margin: 0 30px 0 auto;
}
@media (max-width: 1170px) {
  .header .g-nav {
    margin: 0 15px 0 auto;
  }
}
@media (max-width: 1170px) {
  .header .g-nav {
    margin: 0 10px 0 auto;
  }
}
@media not screen and (min-width: 992px) {
  .header .g-nav {
    display: none;
  }
}
.header .g-nav__list {
  display: flex;
  justify-content: flex-end;
  gap: 0 30px;
}
@media (max-width: 1260px) {
  .header .g-nav__list {
    gap: 0 15px;
  }
}
@media (max-width: 1170px) {
  .header .g-nav__list {
    gap: 0 10px;
  }
}
.header .g-nav__item {
  font-weight: 500;
  font-size: 1.6rem;
  position: relative;
  transition: color 0.5s;
}
@media (max-width: 1170px) {
  .header .g-nav__item {
    font-size: 1.4rem;
  }
}
.header .g-nav__item:before {
  content: "";
  width: 36.5px;
  height: 2.5px;
  background: #38b8ef;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: ease-in 0.5s;
}
@media not screen and (min-width: 992px) {
  .header .g-nav__item:before {
    display: none;
  }
}
.header .g-nav__item:hover, .header .g-nav__item:focus {
  color: #38b8ef;
  transition: color 0.5s;
}
.header .g-nav__item:hover:before, .header .g-nav__item:focus:before {
  bottom: -6px;
  opacity: 1;
  transition: ease-in 0.5s;
}
.header__btn {
  padding: 14.5px 0 13.2px;
  width: 160px;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
  background: #ef3838;
  color: #fff;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
@media not screen and (min-width: 992px) {
  .header__btn {
    display: none;
  }
}
.header__btn::before {
  content: "";
  display: inline-block;
  width: 120%;
  height: 120%;
  background: #2a3f51;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: -120%;
  transform: translateY(-50%);
  z-index: -1;
  transition: left ease-in 0.25s;
}
.header__btn:hover::before {
  left: 0;
  transition: left ease-in 0.25s;
}
.header .toggle-btn {
  display: none;
}
@media not screen and (min-width: 992px) {
  .header .toggle-btn {
    display: block;
    width: 27.21px;
    height: 22.35px;
    position: relative;
    z-index: 10;
  }
}
.header .toggle-btn span {
  display: inline-block;
  width: 100%;
  height: 2px;
  background: #38b8ef;
  position: absolute;
}
.header .toggle-btn span:nth-child(1) {
  top: 0;
  left: 0;
  transition: ease-in 0.5s;
}
.header .toggle-btn span:nth-child(2) {
  top: 50%;
  opacity: 1;
  transition: opacity 0.5s;
}
.header .toggle-btn span:nth-child(3) {
  top: 100%;
  left: 0;
  transition: ease-in 0.5s;
}
.header .toggle-btn.is-active span {
  background: #fff;
}
.header .toggle-btn.is-active span:nth-child(1) {
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(35deg);
  transition: ease-in 0.5s;
}
.header .toggle-btn.is-active span:nth-child(2) {
  opacity: 0;
  transition: opacity 0.5s;
}
.header .toggle-btn.is-active span:nth-child(3) {
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(-35deg);
  transition: ease-in 0.5s;
}
.header .slide-menu {
  display: none;
}
@media not screen and (min-width: 992px) {
  .header .slide-menu {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100vw;
    background: #2d3d50;
    transition: 0.5s;
    touch-action: none;
  }
}
.header .slide-menu.is-show {
  right: 0;
  transition: 0.5s;
}
.header .slide-menu__head {
  padding: 12.4px 5.3%;
  border-bottom: 1px solid #818181;
}
.header .slide-menu__head .logo-sp {
  display: block;
  width: 159px;
}
.header .g-nav-sp .g-nav__list {
  display: flex;
  flex-direction: column;
  padding: 0 5.3%;
}
.header .g-nav-sp .g-nav__item {
  padding: 4% 0;
  font-weight: 300;
  font-size: 1.7rem;
  line-height: 2.6;
  letter-spacing: 0.04em;
  border-bottom: 1px solid #818181;
  color: #f7f7f7;
}

.contact {
  padding: 65px 0;
  background: #f2f2f2;
}
.contact-ttl {
  display: flex;
  flex-direction: column;
  color: #000;
}
.contact-ttl-ruby {
  font-weight: 700;
  font-size: 1.4rem;
  color: #38b8ef;
}
.contact__body {
  margin: 75px auto 0;
  max-width: 540px;
  width: 100%;
  text-align: center;
}
@media not screen and (min-width: 576px) {
  .contact__body {
    margin: 40px 0 0;
  }
}
.contact__body-desc {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2;
}
@media not screen and (min-width: 576px) {
  .contact__body-desc {
    margin: 0 0 30px;
  }
}
.contact__body-detail {
  display: block;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2;
}
.contact__body-detail a {
  margin: 0 5px;
}
@media not screen and (min-width: 576px) {
  .contact__body-detail a {
    margin: 0;
  }
}

.footer {
  padding: 65px 0 21px;
}
.footer__inner {
  display: flex;
}
@media not screen and (min-width: 576px) {
  .footer__inner {
    align-items: center;
    flex-direction: column;
  }
}
.footer__logo {
  width: 159.04px;
}
.footer .f-nav__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 auto;
  width: 50%;
}
@media not screen and (min-width: 576px) {
  .footer .f-nav__list {
    margin: 40px 0 0;
    width: 100%;
  }
}
.footer .f-nav__item {
  display: flex;
  align-items: center;
  gap: 0 4.5px;
  width: 50%;
  font-weight: 500;
  font-size: 1.6rem;
  color: #222222;
}
.footer .f-nav__item:not(:first-child, :nth-child(2)) {
  margin: 16px 0 0;
}
.footer .f-nav__item:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 1.5px;
  background: #38b8ef;
}
.footer__copy {
  margin: 74.9px 0 0;
  font-weight: 100;
  font-size: 1.2rem;
  text-align: center;
}

.interview {
  padding: 205px 0 133px;
}
@media not screen and (min-width: 576px) {
  .interview {
    padding: 70px 0;
  }
}
.interview-ttl {
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
  font-family: "Unbounded", cursive;
  font-size: 6rem;
  color: #2e2e2e;
}
@media not screen and (min-width: 576px) {
  .interview-ttl {
    font-size: 2.8rem;
  }
}
.interview-ruby {
  display: flex;
  align-items: center;
  gap: 0 8px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
}
.interview-ruby::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #38b8ef;
  border-radius: 50%;
}
.interview__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 32px;
  margin: 65px 0 0;
}
@media not screen and (min-width: 576px) {
  .interview__list {
    margin: 40px 0 0;
    gap: 25px 0;
  }
}
.interview__item {
  box-shadow: 0 3px 6px #e7e7e7;
}
.interview__item-link {
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
}
.interview__item__body {
  display: flex;
  flex-direction: column-reverse;
  padding: 22px 10px;
}
.interview__item__body__txt {
  margin: 5px 0 0;
}
.interview__item__body__txt-ttl {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #2e2e2e;
}
@media not screen and (min-width: 576px) {
  .interview__item__body__txt-ttl {
    font-size: 1.4rem;
  }
}
.interview__item__body__txt-desc {
  margin: 5px 0 0;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.71;
  color: #2e2e2e;
}
.interview__item__head {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.interview__item__head-label {
  font-weight: 500;
  font-size: 1.6rem;
  color: #38b8ef;
}
@media not screen and (min-width: 576px) {
  .interview__item__head-label {
    font-size: 1.4rem;
  }
}
.interview__item__head-date {
  font-weight: 500;
  font-size: 1.4rem;
  color: #878787;
}
.interview__item__thumb {
  position: relative;
}
.interview__item__thumb:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
}
.interview__item__thumb-caption {
  font-weight: 700;
  font-size: 1.5rem;
  writing-mode: vertical-rl;
  color: #fff;
  position: absolute;
  top: 23px;
}
@media not screen and (min-width: 576px) {
  .interview__item__thumb-caption {
    font-size: 1.3rem;
  }
}
.interview__item__thumb-caption01 {
  left: 10px;
}
.interview__item__thumb-caption02 {
  right: 12px;
}