@charset 'UTF-8';
@use "../base/variable" as v;
@use "../util/header";
@use "../util/contact";
@use "../util/footer";

.interview {
  padding: 205px 0 133px;
  &-ttl {
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    font-family: v.$fontUnbounded;
    font-size: 6rem;
    color: #2e2e2e;
  }
  &-ruby {
    display: flex;
    align-items: center;
    gap: 0 8px;
    font-family: v.$fontNoto;
    font-weight: 500;
    font-size: 1.4rem;
    &::before {
      content: "";
      display: inline-block;
      width: 8px;
      height: 8px;
      background: v.$accentColor;
      border-radius: 50%;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 32px;
    margin: 65px 0 0;
  }
  &__item {
    &-link {
      display: flex;
      flex-direction: column-reverse;
    }
    box-shadow: 0 3px 6px #e7e7e7;
    &__body {
      display: flex;
      flex-direction: column-reverse;
      padding: 22px 10px;
      &__txt {
        margin: 5px 0 0;
        &-ttl {
          font-weight: 500;
          font-size: 1.6rem;
          line-height: 1.5;
          color: #2e2e2e;
        }
        &-desc {
          margin: 5px 0 0;
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 1.71;
          color: #2e2e2e;
        }
      }
    }
    &__head {
      display: flex;
      align-items: center;
      gap: 0 10px;
      &-label {
        font-weight: 500;
        font-size: 1.6rem;
        color: v.$accentColor;
      }
      &-date {
        font-weight: 500;
        font-size: 1.4rem;
        color: #878787;
      }
    }
    &__thumb {
      position: relative;
      &:before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: 0.2);
        position: absolute;
        top: 0;
        left: 0;
      }
      &-caption {
        font-weight: 700;
        font-size: 1.5rem;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        color: #fff;
        position: absolute;
        top: 23px;
        &01 {
          left: 10px;
        }
        &02 {
          right: 12px;
        }
      }
    }
  }
}
